@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --Orange: hsl(26, 100%, 55%);
  --Paleorange: hsl(25, 100%, 94%);
  --Veryvarkblue: hsl(220, 13%, 13%);
  --Darkgrayishblue: hsl(219, 9%, 45%);
  --Grayishxblue: hsl(220, 14%, 75%);
  --Lightgrayishblue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}
body {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
}
p {
  font-size: 16px;
}

.cartIcon {
  cursor: pointer;
}
.cartIcon:hover > path {
  fill: var(--Veryvarkblue);
}

.HamburgerMenu {
  display: none;
  z-index: 9999 !important;
}
.HamburgerMenu:hover > path {
  fill: var(--Veryvarkblue);
}
.btnIcon > path {
  fill: hsl(0, 0%, 100%);
}
.closeIconWhite > path {
  fill: hsl(0, 0%, 100%);
}
.MobileOnly {
  visibility: hidden;
}
@media only screen and (max-width: 375px) {
  .HamburgerMenu {
    display: block;
    margin-right: 20px;
  }
  .MobileOnly {
    visibility: visible;
  }
}
